body {
    background-color: #93c9e98a;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mp-zero {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #009dae;
    margin: 0;
    width: 100%;
    color: white;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

#premise {
    display: flex;
    width: 100%;
}

#premise > div {
    width: 50%;
    padding: 2rem;
}

.intro {
    margin: 1rem 3rem;
    padding: 4rem 3rem !important;
}

#edu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#edu > div {
    width: 50%;
    margin: 2rem 0;
}

#project {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#project > div {
    width: 33%;
    margin: 2rem 0;
}

/*
#267cb0
#c0f0ff

#22577e
#5584ac
#95d1cc
$f6f2d4
*/